/* Page */
#page {
	width: 100%;
	height: 100%;
	line-height: 0;
	vertical-align: top;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

/* Header box */
#list-header {
	box-shadow:rgba(0, 0, 0, 0.1) 0 0 5px;
	z-index:1;
	height:auto;
	flex:none;
}

/* Dividers */
#list-header > div {
	border-left: solid 1px #eee;
	line-height: 1;
	padding: 8px 5px 6px 4px;
	position: relative;
}
#list-header > div:first-child {
	border-left: none;
	padding-left: 5px;
}

/* Scrollbar space compensation */
#list-header > div:last-child {
	margin-right: 17px;
}

/* List sort arrow */
.sort-down > p > a:after, .sort-up > p > a:after {
	content: "";
	border-color: transparent transparent #666 transparent;
	border-width:5px;
	border-style:solid;
	width:0;
	height:0;
	position: absolute;
	margin-left:3px;
}
.sort-down > p > a:after {
	border-color: #666 transparent transparent transparent;
	top:12px;
}
.sort-up > p > a:after {
	border-color: transparent transparent #666 transparent;
	top:8px;
}

/* List frame */
#list-frame {
	height:100%;
	overflow-y:auto;
	flex:auto;
}

/* Row */
.list-row {
	height: auto;
	width: 100%;
	background-color: #fff;
	line-height: 2;
	margin: 0;
	font-size: 0;
}
.list-row:active {
	background-color: rgba(0, 0, 0, 0.1);
}
.list-row-selected {
	background-color: rgba(56, 116, 167, 0.1);
}
.list-row > div {
	display: inline-block;
	padding: 0 5px;
}
.list-row > div > p {
	margin: 0;
	font-size: 14px;
	cursor: default;
}

/* Last column floats to right */
.list-row > div:last-child {
	float: right;
}

/* Column width */
.column-queue {
	width: 16px;
}
.column-enabled {
	width: 12px;
}
.column-title {
	width: 400px;
}
.column-number {
	width: 20px;
}
.column-album {
	width: 200px;
}
.column-artist {
	width: 200px;
}
.column-time {
	width: 60px;
}
.column-rating {
	width: 86px;
}

/* Rating stars */
.list-row:not(#list-header) > .column-rating > p > span > a:after {
	content: "\2606";
}
.list-row:not(#list-header) > .column-rating > p > span > a:hover:after {
	content: "\2605";
}

/* Column settings */
.clickable:hover {
	text-decoration: underline;
}

/* Play/skip once checkbox */
input[type=checkbox].play-skip-once + label:before {
	opacity:0.25;
	content: "\25BA  \25BA";
	-webkit-transform:scale(0.5, 1);
	transform:scale(0.5, 1);
	word-spacing:-6px;
	width:10px;
	left:-3px;
	white-space:nowrap;
}
input[type=checkbox].play-skip-once:checked + label:before {
	opacity:0.25;
	content: "\25BA";
	left:-1px;
	transform:scale(1, 1);
	-webkit-transform:scale(1, 1);
}

/* Checkboxes */
input[type="checkbox"] {
	display: none;
}
input[type="checkbox"] + label {
	width: 10px;
	height: 10px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius:1px;
	position:relative;
	line-height:2;
}
input[type="checkbox"] + label:hover {
	background-color: #f9f9f9;
}
input[type=checkbox] + label:before {
	color:#666;
	font-size: 12px;
	position:absolute;
	top:-8px;
	left:1px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	input[type=checkbox] + label:before {
		top:-7px;
	}
}
input[type=checkbox]:checked + label:before {
	content: "\2713";
}