/* Page */
#page {
	width: 100%;
	height: 100%;
	line-height: 0;
	vertical-align: top;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

/* Header box */
#list-header {
	box-shadow:rgba(0, 0, 0, 0.1) 0 0 5px;
	z-index:1;
	height:auto;
	flex:none;
	width:100%;
	display:flex;
}

table > tbody {
	display:inline-block;
	width:100%;
}

/* Dividers */
#list-header > td {
	border-left: solid 1px #eee;
	line-height: 1;
	padding-top: 8px;
	padding-bottom: 6px;
	position: relative;
	padding-left: 4px;
	padding-right: 5px;
}
#list-header > td:first-child {
	border-left: none;
}

/* Scrollbar space compensation */
#list-header > td:last-child {
	margin-right: 17px;
}

/* List sort arrow */
.sort-down p, .sort-up p {
	position:relative;
}

.sort-down > p > a:after, .sort-up > p > a:after {
	content: "";
	border-color: transparent transparent #666 transparent;
	border-width:5px;
	border-style:solid;
	width:0;
	height:0;
	position: absolute;
	margin-left:5px;
	pointer-events:none;
	cursor:default;
}
.sort-down > p > a:after {
	border-color: #666 transparent transparent transparent;
	top:12px;
}
.sort-up > p > a:after {
	border-color: transparent transparent #666 transparent;
	top:8px;
}

/* List frame */
#list-frame {
	height:100%;
	overflow-y:auto;
	flex:auto;
	width:100%;
	display:flex;
}

/* Row */
tr {
	height: auto;
	width: 100%;
	background-color: #fff;
	line-height: 2;
	margin: 0;
	font-size: 0;
	display:inline-block;
	border:none;
}
.selected {
	background-color: rgba(0, 0, 0, 0.05);
	transition: background-color 0.025s ease 0s;
}
.column-queue p, .column-queue a {
	width:100%;
	display:block;
	text-align:center;
}
.list-row-playing .column-queue a:not(:hover):after {
	content:"\25BA";
}
td {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	border:none;
}
td > p {
	margin: 0;
	font-size: 14px;
	cursor: default;
}
td > p > a:hover {
	text-decoration: underline;
}

/* Last column floats to right */
tr > td:last-child {
	float: right;
}

/* Column width */
#list-header td.column-queue, td.column-queue {
	padding-left:0;
	padding-right:0;
	width:25px;
}
.column-enabled {
	width: 12px;
}
.column-title {
	width: 400px;
}
.column-number {
	width: 20px;
}
.column-album {
	width: 200px;
}
.column-artist {
	width: 350px;
}
.column-time {
	width: 60px;
}
.column-rating {
	width: 86px;
}

.column-queue a:after {
	content:"+";
	font-weight:800;
	position:relative;
	z-index:1;
}
#list-frame div.column-queue a:hover {
	text-decoration:none;
}
#list-frame .column-queue a {
	position:relative;
}
#list-frame .column-queue a:before {
	position:absolute;
	width:0;
	height:0;
	background-color:#666;
	border-radius:50%;
	content:"";
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	z-index:0;
	transition: width 0.1s, height 0.1s;
}
#list-frame .column-queue a:hover:before {
	width:25px;
	height:25px;
	transition: width 0.1s, height 0.1s;
}
#list-frame .column-queue a:hover:after {
	color:#fff;
}


/* Rating stars */
#list-frame .column-rating > p > span > a {
	padding:0 1px;
	font-size:18px;
	line-height:0;
}
#list-frame .column-rating > p > span > a:after {
	content: "\2606";
}
#list-frame .column-rating > p > span:hover > a:after {
	content: "\2605";
}
#list-frame .column-rating > p > span:hover > a:hover ~ a:after {
	content: "\2606";
}
#list-frame .rating-1 a:nth-child(1):after {
	content: "\2605";
}
#list-frame .rating-2 a:nth-child(1):after,
#list-frame .rating-2 a:nth-child(2):after {
	content: "\2605";
}
#list-frame .rating-3 a:nth-child(1):after,
#list-frame .rating-3 a:nth-child(2):after,
#list-frame .rating-3 a:nth-child(3):after {
	content: "\2605";
}
#list-frame .rating-4 a:nth-child(1):after,
#list-frame .rating-4 a:nth-child(2):after,
#list-frame .rating-4 a:nth-child(3):after,
#list-frame .rating-4 a:nth-child(4):after {
	content: "\2605";
}
#list-frame .rating-5 a:nth-child(1):after,
#list-frame .rating-5 a:nth-child(2):after,
#list-frame .rating-5 a:nth-child(3):after,
#list-frame .rating-5 a:nth-child(4):after,
#list-frame .rating-5 a:nth-child(5):after {
	content: "\2605";
}

/* Checkboxes */
input[type="checkbox"] {
	display: none;
}
input[type="checkbox"] + label {
	width: 10px;
	height: 10px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius:1px;
	background-color:#fff;
	background-size:cover;
}
input[type="checkbox"] + label:hover {
	background-color: #f9f9f9;
}
input[type=checkbox]:checked + label {
	background-image:url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1000px" height="1000px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve"><polygon fill="||solid2||" points="949.4257813,197.9501953 884.90625,126.7460938 337.684082,730.6591797 114.5576172,484.4189453 50.0375977,555.6220703 337.5131836,873.2529297 337.6826172,873.0654297 337.8535156,873.2539063" /></svg>');
}
input[type=checkbox].once + label {
	background-image:url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1000px" height="1000px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve"><path fill="||solid2||" d="M70,70v860l860-430L70,70z M300,700V400H200V300h200v400H300z" /></svg>');
}
input[type=checkbox].once:checked + label {
	background-image:url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1000px" height="1000px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve"><polygon fill="||solid2||" points="649.2216797,645.3466797 843.6953125,331.3745117 956.7910156,618.6376953" /><path fill="||solid2||" d="M792.53125,578.1181641C305.2792969,215.8657227,42,711.3613281,42,711.3613281 S174.6757813,90.3320313,808.7314453,476.7993164L792.53125,578.1181641z" /></svg>');
}