<link href="themes/trackbox/frames/card/card.css" rel="stylesheet" />
<% for (var i = 0; i < list.length; i++) { %>
<div class="cards-card">
	<div>
		<div>
			<div style="background-image: url(covers/<%= list[i].imageUrl %>);"><a></a></div>
		</div>
		<div>
			<p id="card-title">
				<a>
					<%= list[i].title %>
				</a>
			</p>
			<p id="card-subtitle">
				<a>
					<%= list[i].subtitle %>
				</a>
			</p>
		</div>
	</div>
</div>
<% } %>