/* All CSS for a view goes here */
#view-album-list
{
	background-color:#eee;
	height:100%;
	width:100%;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
     box-sizing:border-box;
	 padding:10px;
}
#view-album-list > div
{
	width:100%;
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
     box-sizing:border-box;
}
#view-album-list > div > p
{
	font-size:72px;
	margin:0;
}