/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Global Text */
html, body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans';
	font-weight: 300;
	color: #666;
	background-color: #243743;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 24px;
}

p {
	font-size: 24px;
	line-height: 1.5;
}

p {
	color: #666;
}

a {
	color: #000;
}

strong {
	font-weight: 400;
}

/* Header */
header {
	background-color: #243743;
}

	header > div {
		padding: 50px 0;
	}

.button {
	color: #fff;
	text-decoration: none;
	border: solid 1px #fff;
	padding: 10px;
	margin-left: 10px;
	border-radius: 5px;
	-moz-transition: background-color 100ms;
	-webkit-transition: background-color 100ms;
	-o-transition: background-color 100ms;
	transition: background-color 100ms;
}

	.button:hover {
		background-color: rgba(255, 255, 255, 0.1);
		-moz-transition: background-color 100ms;
		-webkit-transition: background-color 100ms;
		-o-transition: background-color 100ms;
		transition: background-color 100ms;
	}

header svg {
	display: inline-block;
}

header h1 {
	margin-left: 15px;
	color: #fff;
	font-size: 36px;
	line-height: 1;
	display: inline-block;
	font-family: "Montserrat", "Open Sans", sans-serif;
	font-weight: 400;
}

header a svg, header a h1 {
	display: inline-block;
	vertical-align: middle;
}

header a.button {
	float: right;
	margin-top: 2px;
}

/* Footer */
footer {
	background-color: #243743;
	line-height: 0;
	color: #fff;
}

	footer > div {
		padding: 25px 0;
		text-align: justify;
	}

		footer > div > div > div {
			display: inline-block;
			vertical-align: top;
			margin: 25px;
		}

		footer > div > div:last-child {
			margin: 0;
			width: 100%;
			display: inline-block;
			font-size: 0;
			line-height: 0;
			text-align: center;
		}

	footer p, footer a {
		text-align: left;
		line-height: 22px;
		text-transform: uppercase;
	}

		footer p.footer-head, footer a {
			font-size: 16px;
			font-weight: 400;
			text-decoration: none;
			margin-bottom: 10px;
			display: block;
		}

		footer p.footer-head {
			font-family: "Montserrat", "Open Sans", sans-serif;
		}

	footer p {
		color: #ddd;
		font-size: 16px;
	}

	footer a {
		color: #fff;
	}

		footer a:hover {
			text-decoration: underline;
		}

	/* Section */
	header > div, section > div, footer > div {
		max-width: 1000px;
		min-width: 420px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

		header > div > div, section > div > div, footer > div > div {
			margin: 0 10px;
		}

section {
	background-color: #fff;
}

	section.gray {
		background-color: #f8f8f8;
	}

	section > div {
		padding: 100px 0;
	}

	section h1 {
		margin-bottom: 20px;
		text-align: center;
		font-family: "Montserrat","Open Sans",sans-serif;
	}

	section p {
		text-align: justify;
	}

#banner h2 {
	margin-bottom: 0;
}

/* Banner */
#banner {
	background-color: #243743;
	background-size: cover;
	background-position: center;
	color: #fff;
	text-align: center;
}

	#banner > div {
		padding: 150px 0;
	}

	#banner h1 {
		color: #fff;
		font-weight: 400;
		margin-bottom: 20px;
		font-size: 40px;
		font-family: "Montserrat","Open Sans",sans-serif;
	}

/* Section: Interface */
#interface img {
	display: block;
	margin: auto;
	box-shadow: 0 0 10px #aaa;
	max-width: 980px;
	max-height: 700px;
	width: 100%;
	height: auto;
}

/* Section: Email form */
#email form {
	text-align: center;
}

#email input {
	font-size: 24px;
	font-family: 'Open Sans';
	width: 100%;
	max-width: 450px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 0;
	padding: 5px;
	box-shadow: none;
}

#email form p:last-of-type {
	text-align: center;
}

#success + p, #failure + p {
	display: none;
	text-align: center;
	color: #f00;
	-moz-animation: flash 2s linear;
	-webkit-animation: flash 2s linear;
	-o-animation: flash 2s linear;
	animation: flash 2s linear;
}

@-moz-keyframes flash {
	1% {
		color: #f00;
	}

	50% {
		color: #fff;
	}

	100% {
		color: #f00;
	}
}

@-webkit-keyframes flash {
	1% {
		color: #f00;
	}

	50% {
		color: #fff;
	}

	100% {
		color: #f00;
	}
}

@-o-keyframes flash {
	1% {
		color: #f00;
	}

	50% {
		color: #fff;
	}

	100% {
		color: #f00;
	}
}

@keyframes flash {
	1% {
		color: #f00;
	}

	50% {
		color: #fff;
	}

	100% {
		color: #f00;
	}
}

#failure:target + p {
	display: block;
}

#failure:target ~ p:last-of-type {
	display: none;
}

#success:target + p {
	display: block;
}

#success:target ~ input {
	display: none;
}
