section > div {
	padding: 50px 0;
}

section h3 {
	font-size: 18px;
	margin-bottom: 10px;
}

section a {
	text-decoration: none;
	color: #666;
}

	section a:hover {
		color: #000;
	}

#section {
	font-weight: 400;
}

section hr {
	border: none;
	border-bottom: 1px solid #ccc;
	margin-bottom: 25px;
}

section h1 {
	text-align: right;
	font-weight: 400;
	margin: 0;
	width: auto;
	display: inline-block;
}

#content {
	margin: 0;
}

#listings, #listings p {
	font-size: 18px;
}

	#listings > p {
		margin-bottom: 25px;
	}

	#listings > h2 {
		font-weight: 400;
		border-bottom: 1px solid #ccc;
		margin: 10px 0;
	}

	#listings > div > a {
		display: table;
		width: 100%;
		padding: 10px 0;
	}

	#listings > div:nth-child(odd) > a {
		background-color: rgba(0, 0, 0, 0.02);
	}

	#listings > div > a:hover {
		background-color: rgba(0, 0, 0, 0.01);
	}

	#listings > div > a span {
		line-height: 1.25;
		display: inline-block;
		margin: 0 10px;
	}

		#listings > div > a span:first-child {
			font-weight: 400;
		}

		#listings > div > a span:last-child {
			float: right;
		}

.method {
	margin: 20px 0;
	border: 1px solid #243743;
	border-radius: 3px;
}

.method-blueprint {
	font-weight: 400;
	padding: 10px;
	background-color: #243743;
	color: #fff;
}

	.method-blueprint p {
		color: #fff;
	}

	.method-blueprint .parameter {
		font-style: italic;
	}

	.method-blueprint .optional {
		color: #ccc;
	}

.method-properties {
	display: table;
	width: 100%;
	padding: 5px 0;
}

	.method-properties span {
		line-height: 1.25;
		margin: 0 10px;
		display: inline-block;
	}

		.method-properties span:last-child {
			float: right;
		}

	.method-properties.optional span:first-child:after {
		content: " (optional)";
		cursor: default;
		font-style: italic;
		color: #999;
	}

	.method-properties:nth-child(odd) {
		background-color: rgba(0, 0, 0, 0.02);
	}

.page > p {
	margin: 20px 0;
}

.page a {
	color:#000;
	text-decoration:underline;
}

code {
	padding: 0 5px;
	border-radius: 3px;
	white-space: pre;
	background-color: #eee;
	font-family: monospace;
}

pre {
	background-color: #eee;
	padding: 10px;
	margin: 10px 0;
	border-radius: 3px;
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
}

	pre > code {
		background: none;
		white-space: pre-wrap;
		padding: 0;
	}
