<footer>
	<div>
		<div>
			<div>
				<p class="footer-head">TEAM</p>
				<p>Keavon Chambers - Designer, Programmer</p>
				<a href="http://www.keavon.com">Keavon.com</a>
				<p>Joshua Anderson - Lead Programmer</p>
				<a href="http://www.joshua-anderson.com">Joshua-Anderson.com</a>
			</div>
			<div>
				<p class="footer-head">CONTACT</p>
				<a href="mailto:contact@trackbox.io">Contact@Trackbox.io <span style="font-size:10px;">(General/Press)</span></a>
				<a href="mailto:keavon@keavon.com">Keavon@Keavon.com</a>
				<a href="mailto:j@joshua-anderson.com">J@Joshua-Anderson.com</a>
			</div>
			<div>
				<p class="footer-head">DEVELOPMENT</p>
				<a href="http://github.com/Trackbox/Trackbox">GitHub Repo</a>
				<a href="http://trello.com/b/Bv2A5vKb">Trello Board</a>
			</div>
			<div></div>
		</div>
	</div>
</footer>