<meta charset="utf-8" />
<meta name="description" content="Trackbox, the simple, beautiful music player desktop app. Experience your music collection, built around you. Entirely free, open-source, and customizable." />
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<link rel="shortcut icon" href="favicon.ico?v=1" />
<link href='http://fonts.googleapis.com/css?family=Montserrat:400|Open+Sans:300,300italic,400,400italic' rel='stylesheet' type='text/css'>
<link href="/css/global.css" rel="stylesheet" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>(function (n, t, i, r, u, f, e) { n.GoogleAnalyticsObject = u; n[u] = n[u] || function () { (n[u].q = n[u].q || []).push(arguments) }; n[u].l = 1 * new Date; f = t.createElement(i); e = t.getElementsByTagName(i)[0]; f.async = 1; f.src = r; e.parentNode.insertBefore(f, e) })(window, document, "script", "//www.google-analytics.com/analytics.js", "ga"); ga("create", "UA-54662805-1", "auto"); ga("send", "pageview");</script>