<header>
	<div>
		<div>
			<a href="/"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve"><rect fill="#4777A4" width="16" height="16" /><rect x="1" y="1" fill="#99B8D6" width="14" height="2" /><rect x="1" y="5" fill="#99B8D6" width="14" height="2" /><rect x="1" y="9" fill="#99B8D6" width="14" height="2" /><rect x="1" y="13" fill="#99B8D6" width="14" height="2" /><rect x="1" y="7" fill="#5C8FBF" width="14" height="2" /><rect x="1" y="3" fill="#5C8FBF" width="14" height="2" /><rect x="1" y="11" fill="#5C8FBF" width="14" height="2" /></svg><h1>Trackbox</h1></a>
			<a href="/developers" class="button">Developer Documentation</a>
		</div>
	</div>
</header>