#standard-header {
	height: auto;
	flex: none;
	box-shadow:rgba(0, 0, 0, 0.1) 0 0 5px;
}
#standard-sort {
	width: auto;
	height: auto;
	display: inline-block;
	position: relative;
	margin: 0 5px;
	margin-bottom: 10px;
}
#standard-sort > a {
	line-height: 1;
	font-size: 18px;
	margin: 0;
	display: inline;
}
#standard-view {
	float: right;
	width: auto;
	height: auto;
	display: inline-block;
	margin-bottom: 10px;
	font-size: 0;
}
#standard-view > a {
	padding: 0 5px;
	display: inline-block;
}
#standard-view > a > svg {
	display:block;
	fill:#666;
	transition: fill 0.1s;
}
#standard-view > a:hover > svg {
	fill:#333;
	transition: fill 0.25s;
}
#standard-list {
	height:100%;
	overflow-y:auto;
	flex:auto;
}