/* Backgrounds */
.palette-background-primary-bg,
.palette-background-primary-hover-bg:hover {
	background-color:#fff;
}
.palette-background-secondary-bg,
.palette-background-secondary-hover-bg:hover {
	background-color:#f5f5f5;
}
.palette-background-tertiary-bg,
.palette-background-tertiary-hover-bg:hover {
	background-color:#eee;
}
.palette-background-quaternary-bg,
.palette-background-quaternary-hover-bg:hover {
	background-color:#e4e4e4;
}
.palette-background-quinary-bg,
.palette-background-quinary-hover-bg:hover {
	background-color:#ccc;
}

/* Hint */
.palette-hint-primary-bg,
.palette-hint-primary-hover-bg:hover {
	background-color:#33b5e5;
}
.palette-hint-primary-color {
	color:#33b5e5;
}
.palette-hint-primary-border {
	border-color:#33b5e5;
}
.palette-hint-primary-fill path,
.palette-hint-primary-fill rect,
.palette-hint-primary-fill circle,
.palette-hint-primary-fill ellipse,
.palette-hint-primary-fill line,
.palette-hint-primary-fill polyline,
.palette-hint-primary-fill polygon,
.palette-hint-primary-hover-fill:hover path,
.palette-hint-primary-hover-fill:hover rect,
.palette-hint-primary-hover-fill:hover circle,
.palette-hint-primary-hover-fill:hover ellipse,
.palette-hint-primary-hover-fill:hover line,
.palette-hint-primary-hover-fill:hover polyline,
.palette-hint-primary-hover-fill:hover polygon {
	fill:#42acd3;
}

/* Solid Primary */
.palette-solid-primary-color {
	color:#333;
}
.palette-solid-primary-border {
	border-color:#333;
}
.palette-solid-primary-fill path,
.palette-solid-primary-fill rect,
.palette-solid-primary-fill circle,
.palette-solid-primary-fill ellipse,
.palette-solid-primary-fill line,
.palette-solid-primary-fill polyline,
.palette-solid-primary-fill polygon,
.palette-solid-primary-hover-fill:hover path,
.palette-solid-primary-hover-fill:hover rect,
.palette-solid-primary-hover-fill:hover circle,
.palette-solid-primary-hover-fill:hover ellipse,
.palette-solid-primary-hover-fill:hover line,
.palette-solid-primary-hover-fill:hover polyline,
.palette-solid-primary-hover-fill:hover polygon {
	fill:#333;
}

/* Solid Secondary */
.palette-solid-secondary-color {
	color:#666;
}
.palette-solid-secondary-border {
	border-color:#666;
}
.palette-solid-secondary-fill path,
.palette-solid-secondary-fill rect,
.palette-solid-secondary-fill circle,
.palette-solid-secondary-fill ellipse,
.palette-solid-secondary-fill line,
.palette-solid-secondary-fill polyline,
.palette-solid-secondary-fill polygon,
.palette-solid-secondary-hover-fill:hover path,
.palette-solid-secondary-hover-fill:hover rect,
.palette-solid-secondary-hover-fill:hover circle,
.palette-solid-secondary-hover-fill:hover ellipse,
.palette-solid-secondary-hover-fill:hover line,
.palette-solid-secondary-hover-fill:hover polyline,
.palette-solid-secondary-hover-fill:hover polygon {
	fill:#666;
}

/* Solid Tertiary */
.palette-solid-tertiary-color {
	color:#999;
}
.palette-solid-tertiary-border {
	border-color:#999;
}
.palette-solid-tertiary-fill path,
.palette-solid-tertiary-fill rect,
.palette-solid-tertiary-fill circle,
.palette-solid-tertiary-fill ellipse,
.palette-solid-tertiary-fill line,
.palette-solid-tertiary-fill polyline,
.palette-solid-tertiary-fill polygon,
.palette-solid-tertiary-hover-fill:hover path,
.palette-solid-tertiary-hover-fill:hover rect,
.palette-solid-tertiary-hover-fill:hover circle,
.palette-solid-tertiary-hover-fill:hover ellipse,
.palette-solid-tertiary-hover-fill:hover line,
.palette-solid-tertiary-hover-fill:hover polyline,
.palette-solid-tertiary-hover-fill:hover polygon {
	fill:#999;
}