<script type="text/javascript" src="themes/trackbox/interface.js"></script>

<div id="wrapper" class="no-window-border">
	<div class="row" style="height:45px;">
		<div class="row-left">
			<a id="app-logo" class="no-select"><div></div></a>
			<h1 id="app-title"> <!-- Dynamically Generated Content --> </h1>
		</div>
		<div class="row-right">
			<!--<a id="app-user" class="no-select">
				<p>USER ACCOUNT</p>
				<img src="assets/user_icon.png" width="30" height="30" />
			</a>--><div id="app-window-buttons">
				<a class="no-select"><svg x="0px" y="0px" width="10px" height="10px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"><rect x="45.875" y="307.199" fill="#666" width="409.6" height="153.602" /></svg></a><a><svg x="0px" y="0px" width="10px" height="10px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"><path fill="#666" d="M-0.005,0.003v512h512v-512H-0.005z M460.8,460.8H51.2V153.6h409.6V460.8L460.8,460.8z" /></svg></a><a><svg x="0px" y="0px" width="10px" height="10px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"><polygon fill="#666" points="470.96,108.92 403.078,41.038 256.001,188.115 108.924,41.038 41.042,108.92 188.119,255.997 41.043,403.073 108.925,470.955 256.001,323.879 403.077,470.955 470.959,403.073 323.883,255.997" /></svg></a>
			</div>
		</div>
	</div>

	<div class="row" style="height:50px;">
		<a class="app-playback-control no-select"><div><svg x="0px" y="0px" width="24px" height="18px" viewBox="0 0 700 500" enable-background="new 0 0 700 500" xml:space="preserve"><polygon fill="#666" points="700,500 700,0 400,250" /><polygon fill="#666" points="400,500 400,0 100,245" /><rect fill="#666" width="100" height="450" y="25" /></svg></div></a>
		<a class="app-playback-control no-select"><div><svg x="0px" y="0px" width="30px" height="30px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"><polygon fill="#666" points="0,0 0,512 512,256" /></svg></div></a>
		<a class="app-playback-control no-select"><div><svg x="0px" y="0px" width="24px" height="18px" viewBox="0 0 700 500" enable-background="new 0 0 700 500" xml:space="preserve"><polygon fill="#666" points="0,0 0,500 300,250" /><polygon fill="#666" points="300,0 300,500 600,250" /><rect x="600" fill="#666" width="100" height="450" y="25" /></svg></div></a>

		<div class="app-playback-control-spacer"><div></div></div>

		<a class="app-playback-control no-select"><div><svg x="0px" y="0px" width="20px" height="12px" preserveAspectRatio="none" viewBox="0 0 500 250" enable-background="new 0 0 500 250" xml:space="preserve"><polyline fill="#666" points="0,30 430,30 430,0 500,55 430,110 430,80 0,80" /><polyline fill="#666" points="0,170 430,170 430,140 500,195 430,250 430,220 0,220" /></svg></div></a>
		<a class="app-playback-control no-select"><div><svg x="0px" y="0px" width="20px" height="12px" preserveAspectRatio="none" viewBox="6 0 500 250" enable-background="new 6 0 500 250" xml:space="preserve"><polygon fill="#666" points="436,30 436,0 506,55 436,110 436,80 56,80 56,200 476,200 476,250 6,250 6,30" /></svg></div></a>

		<div class="slider" id="app-playback-slider">
			<div>
				<p id="app-playback-info">
					<a>We All Become</a>
					&#8226;
					<a>Transistor</a>
					&#8226;
					<a>Darren Korb</a>
				</p>
				<input type="range" name="points" min="1" max="10000" value="0" />
				<!--<div><div><div><div></div></div></div></div>-->
				<p class="no-select"><span>0:00</span></p>
				<p class="no-select"><span>2:56</span>/<span>2:56</span></p>
			</div>
		</div>


		<a class="app-playback-control no-select" id="app-volume-button"><div><svg x="0px" y="0px" width="22px" height="22px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"><g id="Sound"><path fill="#666" d="M416.048,422.052l-22.657-22.597c38.219-38.32,59.266-89.229,59.266-143.347 c0-54.227-21.116-105.207-59.461-143.548l22.628-22.628c44.388,44.385,68.833,103.401,68.833,166.176 C484.654,318.757,460.289,377.689,416.048,422.052L416.048,422.052z" /><path fill="#666" d="M364.122,370.171l-22.61-22.644c24.596-24.563,38.143-57.231,38.143-91.989 c0-34.586-13.436-67.142-37.827-91.671l22.688-22.564c30.396,30.565,47.139,71.135,47.139,114.235 C411.652,298.852,394.771,339.563,364.122,370.171L364.122,370.171z" /><path fill="#666" d="M312.491,318.559l-22.597-22.66c10.806-10.772,16.756-25.105,16.756-40.358 c0-15.099-5.854-29.333-16.479-40.078l22.752-22.502c16.591,16.776,25.729,39,25.729,62.58 C338.65,279.355,329.359,301.736,312.491,318.559L312.491,318.559z" /></g><polygon id="Speaker" fill="#666" points="253.346,93.737 253.346,417.736 125.346,336.736 27.346,336.736 27.346,174.737 125.346,174.737" /></svg></div></a>

		<div class="slider" id="app-volume-slider">
			<div>
				<input type="range" name="points" min="1" max="10000" value="10000" />
				<!--<div><div><div><div></div></div></div></div>-->
			</div>
		</div>
		<div class="app-playback-control-spacer"><div></div></div>
	</div>

	<div id="content" class="row">
		<div>
			<div id="sidebar">
				<div>
					<div id="sidebar-menu">
						<!-- Dynamically Generated Content -->
					</div>
					<div>
						<div id="album-art">
							<a>
								<img src="covers/transistor.png" />
							</a>
						</div>
					</div>
				</div>
			</div>
			<div id="frame"></div>
		</div>
	</div>
</div>
