#frame ul
{
    list-style-type: none;
    text-align: justify;
    padding:0;
}
#frame li
{
    display:inline-block;
}
#frame li > img
{
    margin:20px;
}
#frame .full {
    width: 100%;
    height: 0;
}