/* Cards */
.card {
	display: inline-block;
	height: auto;
	float:left;
}
.card > div {
	margin: 20px;
	background-color: ||background1||;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	transition: box-shadow 0.1s;
}
.cover-art {
	display: inline-block;
	position: relative;
	width: 100%;
	vertical-align:top;
}
.cover-art:after {
	content: '';
	display: block;
	margin-top: 100%;
}
.cover-art > div {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.album-info {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 15px 20px;
}
.album-info > p {
	display: block;
	width: auto;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: default;
	font-size: 18px;
}
.album-info a:hover {
	text-decoration: underline;
}
.album-info .album-title {
	font-weight: 400;
}
.album-info .album-artist {
	margin-top:5px;
	font-weight: 300;
}

/* Window widths */
@media all and (max-width: 500px) {
	.card {
		width: 100%;
	}
}
@media all and (max-width: 800px) and (min-width: 500px) {
	.card {
		width: 50%;
	}
}
@media all and (max-width: 1200px) and (min-width: 800px) {
	.card {
		width: 33.333%;
	}
}
@media all and (max-width: 1600px) and (min-width: 1200px) {
	.card {
		width: 25%;
	}
}
@media all and (max-width: 2000px) and (min-width: 1600px) {
	.card {
		width: 20%;
	}
}
@media all and (max-width: 2200px) and (min-width: 2000px) {
	.card {
		width: 16.665%;
	}
}
@media all and (max-width: 2400px) and (min-width: 2200px) {
	.card {
		width: 14.2857%;
	}
}
@media all and (min-width: 2400px) {
	.card {
		width: 12.5%;
	}
}