input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	width: 10px;
	height: 10px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius:1px;
	position:relative;
	line-height:2;
}

input[type="checkbox"] + label:hover {
	background-color: #f9f9f9;
}

input[type=checkbox] + label:before {
	color:#666;
	font-size: 12px;
	position:absolute;
	top:-8px;
	left:1px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	input[type=checkbox] + label:before {
		top:-7px;
	}
}
input[type=checkbox]:checked + label:before {
	content: "\2713";
}